{% block content %}
<h1>RAJA KRISHNA GADDE 1001671629</h1>
        <h2>total population between 5 to 10 million</h2>
        <form action="/showdb5" method="POST" >
            <input type="submit" value="View">
        </form>
        <h2>total population between 10 to 50 million</h2>
        <form action="/showdb10" method="POST" >
            <input type="submit" value="View">
        </form>

        <!-- <h2>Search using Mag and Date</h2>
        <form method="POST" action="/magsearch">
            Magnitude 1: <input type="text" name="mag1">
            Magnitude 2: <input type="text" name="mag2">
        <input type="submit" value="Search">
        </form> -->
        <h2>Pie Chart</h2>
        <form method="POST" action="/piechart">
            N value: <input type="text" name="n1">
            N value2: <input type="text" name="n2">
        <input type="submit" value="Search">
        </form>


{% endblock content %}

