{% block content %}

        <h2>View Database</h2>
        <form action="/showdb" method="POST" >
            Limit: <input type="text" name="limit">
            <input type="submit" value="View">
        </form>

        <h2>Search using Mag and Date</h2>
        <form method="POST" action="/magsearch">
            Magnitude 1: <input type="text" name="mag1">
            Magnitude 2: <input type="text" name="mag2">
        <input type="submit" value="Search">
        </form>


{% endblock content %}

